.social-account-icon {
    cursor: default;
}

a .social-account-icon {
    cursor: pointer;
    text-decoration: none;
}

.social-account-icon-twitter {
    color: #1da1f2;
}

.social-account-icon-facebook {
    color: #3b5998;
}

.social-account-icon-google-oauth2 {
    color: #dd4b39;
}

.social-account-icon-orcid {
    color: #a6ce39;
}

.social-account-icon-github {
    color: #333;
}

.social-account-icon-linkedin-oauth2 {
    color: #0077b5;
}

.social-account-icon-mendeley {
    color: #9D1620;
}

.social-account-icon-figshare {
    color: #556471;
}



ul.social-link-links {
    padding-left: 0;
    text-align: center;
}

ul.social-link-links a {
    text-decoration: none;
}

ul.social-link-links li {
    display: inline;
    list-style: none;
}