{% extends "base.html" %}{% load staticfiles %}

{% block extra_head %}{{ block.super }}
    <link rel="stylesheet" href="{% static "idm-auth.css" %}" type="text/css">
{% endblock %}

{% block h1_title %}Account management{% endblock %}
{% block title %}Account management{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="pad-1">
                <h1>Profile</h1>

                {{ user }}
                <a href="{% url "profile-edit" %}" class="pure-button"><i class="fa fa-edit"> </i> Edit</a>
            </div></div></div>
    <section>
        <div class="pure-g"><div class="pure-u-1"><div class="pad-1">
            <h2>External accounts</h2>
        </div></div>
            <div class="pure-u-1-2"><div class="pad-1">
                <h3>Existing</h3>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                    <tr>
                        <th>Service</th>
                        <th>Username</th>
                        <th>Disassociate</th>
                    </tr>
                    </thead>
                    <tbody>{% for user_social_auth in associated %}
                        <tr class="social-account-{{ user_social_auth.backend_id }}">
                            <td class="align-center">
                                <i class="{{ user_social_auth.font_icon }} fa-2x social-account-icon-{{ user_social_auth.backend_id }}" title="{{ user_social_auth.name }}"> </i>
                            </td>
                            <td>{{ user_social_auth.username }}</td>
                            <td>
                                <form method="post" action="{% url "social:disconnect_individual" backend=user_social_auth.provider association_id=user_social_auth.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{% url "profile" %}">
                                    <input type="submit" class="fa pure-button" value="&#61527;">
                                </form>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div></div>
            <div class="pure-u-1-2"><div class="pad-1">

                <section>
                    <h3>Add new</h3>
                    {% include "idm-auth/social-login-links.html" %}
                </section>
            </div></div></div>

    </section>
    {% if TWO_FACTOR_ENABLED %}
        <div class="pad-1">
            <h2>Two-factor authentication</h2>
            {{ two_factor_default_device }}
            <a class="pure-button" href="{% url "two_factor:setup" %}"><i class="fa fa-cogs"> </i> Configure</a>
        </div>
    {% endif %}
{% endblock %}
