celery
Django
djangorestframework
django-oidc-provider
django-reversion
django-two-factor-auth
django-otp
django-otp-yubikey
django-auth-kerberos
django-registration
django-templated-email
django-zxcvbn-password
social-auth-app-django
-e git://github.com/alexsdutton/idm-notification.git#egg=idm-notification
-e git://github.com/alexsdutton/idm-brand.git#egg=idm-brand
kombu
phonenumbers
python3-saml
psycopg2
pykerberos
python-dateutil
python-kadmin
PyYAML
requests
requests-negotiate
