{% extends "base.html" %}

{% block h1_title %}Account management{% endblock %}
{% block title %}Account management{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1">
            <div class="pad-1">

                {% if user.is_authenticated %}
                <a href="{% url "profile" %}">Manage my account</a>
                {% else %}
                <a href="{% url "login" %}">Log in</a>
                <a href="{% url "recover" %}">Recover</a>
                {% endif %}

</div></div></div>
{% endblock %}