{% extends "base.html" %}

{% block h1_title %}External authentication cancelled{% endblock %}
{% block title %}External authentication cancelled{% endblock %}

{% block content %}
    <p>Unfortunately, external authentication didn't succeed.</p>
    <p>If this was unexpected, you can <a href="{% url "social:begin" backend=exception.backend.name %}">try again</a>.
        If you need any assistance, please email
        <a href="mailto:{{ SUPPORT_EMAIL_ADDRESS }}">{{ SUPPORT_EMAIL_NAME }}</a> for support.</p>
{% endblock %}