{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
{%  if user.has_usable_password %}
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}{% else %}
Your account is not set up with a password; you can only log in via external services.
{% endif %}{% if user.social_auth_metas %}{% regroup user.social_auth_metas by backend_id as social_auth_metas %}
You can{% if user.has_usable_password %} also{% endif %} log in using {{ social_auth_metas|pluralize:"this,these" }} external service{{ social_auth_metas|pluralize }}:
{% for group in social_auth_metas %}
* {{ group.list.0.name }} - {{ protocol }}://{{ domain }}{% url 'social:begin' backend=group.grouper %}{% endfor %}{% endif %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
