{% extends "base.html" %}

{% block h1_title %}{% if user.has_usable_password %}Change{% else %}Set{% endif %} password{% endblock %}
{% block title %}{% if user.has_usable_password %}Change{% else %}Set{% endif %} password{% endblock %}

{% block extra_head %}{{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    {% if settings.KERBEROS_ENABLED %}
        <dl>
            <dt>Username:</dt>
            <dd>{{ user.kerberos_principal.principal }}</dd>
            <dt>Password last changed:</dt>
            <dd>{{ user.kerberos_principal.last_pwd_change }}</dd>
            <dt>Password expires:</dt>
            <dd>{{ user.kerberos_principal.pwexpire|default_if_none:"Never" }}</dd>
        </dl>
    {% endif %}

    <form method="post" class="pure-form">{% csrf_token %}
        <table class="pure-table pure-table-horizontal">
            {{ form }}
        </table>

        <p>
            <button type="submit" class="pure-button pure-button-primary">{% if user.has_usable_password %}Change{% else %}Set{% endif %}</button>
        </p>
    </form>
{% endblock %}