{% extends "idm_brand/base.html" %}

{% block extra_head %}{{ block.super }}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u pure-u-lg-1-3" style="margin-left: auto; margin-right: auto">
            <h1>Signup</h1>

            <form method="post">{% csrf_token %}
                {{ wizard.management_form }}
                {% if wizard.steps.current == "welcome" %}
                    <p>Welcome to the University of Oxford.</p>
                {% else %}
                    <table>
                        {{ form.as_table }}
                    </table>
                {% endif %}
                <input class="pure-form" type="submit" value="{% if wizard.steps.next %}Continue{% else %}Go{% endif %}">
            </form>

        </div></div>
{% endblock %}
