{% extends "base.html" %}{% load i18n two_factor %}

{% block extra_head %}{{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}idm-auth.css" type="text/css">
{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u pure-u-lg-1-3" style="margin-left: auto; margin-right: auto">
            <div class="focal-box">
                <h1>Login</h1>
                <form method="post" class="pure-form">
                    {% csrf_token %}
                    {{ wizard.management_form }}

                    {% if wizard.steps.current == 'auth' %}
                        <section>
                            {% if wizard.form.errors and not form.non_field_errors %}
                                <p class="errornote">
                                    {% if wizard.form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                                </p>
                            {% endif %}
                            {% if wizard.form.non_field_errors %}
                                {% for error in wizard.form.non_field_errors %}
                                    <p class="errornote">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% elif awaiting_activation %}
                                <p class="errornote">
                                    {{ wizard.form.error_messages.inactive }}
                                </p>
                            {% endif %}


                            {{ wizard.form.username.errors }}
                            {{ wizard.form.username }}<br>
                            {{ wizard.form.password.errors }}
                            {{ wizard.form.password }}
                            <div class="pure-g">
                                <a class="pure-u pure-u-1-3 pure-button" href="help">Help</a>
                                <button class="pure-u pure-u-2-3 pure-button pure-button-primary" type="submit" name="submit">Login</button>
                                <div class="pure-u pure-u-1 pure-center"><a href="{% url "recover" %}">Forgotten your password?</a></div>

                            </div>
                        </section>
                        <hr>
                        <section>
                            <h2>Institutional login</h2>
                            <form method="get" action="{% url "social:begin" backend='saml' %}" class="pure-form">
                                <select name="idp" class="pure-u pure-3-4">{% for idp in idps %}
                                    <option value="{{ idp.name }}">{{ idp.label }}</option>{% endfor %}
                                </select>
                                <input class="pure-u pure-u-1-4 pure-button" type="submit" value="Go">
                            </form>
                        </section>
                        <hr>
                        <section>
                            <h2>Social login</h2>
                            {% include "idm-auth/social-login-links.html" %}
                        </section><hr>
                        <section>
                            <h2>Register new account</h2>
                            Don’t have an account?
                            <a href="{% url "signup" %}{% if redirect_to %}?{{ redirect_field_name }}={{ redirect_to|urlencode }}{% endif %}">Create an Oxford account</a>.
                        </section>
                    {%  elif wizard.steps.current == 'token' %}
                        {% if device.method == 'call' %}
                            <p>{% blocktrans %}We are calling your phone right now, please enter the
                                digits you hear.{% endblocktrans %}</p>
                        {% elif device.method == 'sms' %}
                            <p>{% blocktrans %}We sent you a text message, please enter the tokens we
                                sent.{% endblocktrans %}</p>
                        {% else %}
                            <p>{% blocktrans %}Please enter the tokens generated by your token
                                generator.{% endblocktrans %}</p>
                        {% endif %}
                    {% elif wizard.steps.current == 'backup' %}
                        <p>{% blocktrans %}Use this form for entering backup tokens for logging in.
                            These tokens have been generated for you to print and keep safe. Please
                            enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
                    {% endif %}

                    {% if wizard.steps.current != 'auth' %}
                        {% include "two_factor/_wizard_forms.html" %}

                        {# hidden submit button to enable [enter] key #}
                        <div style="margin-left: -9999px"><input type="submit" value=""/></div>

                        {% if other_devices %}
                            <p>{% trans "Or, alternatively, use one of your backup phones:" %}</p>
                            <p>
                                {% for other in other_devices %}
                                    <button name="challenge_device" value="{{ other.persistent_id }}"
                                            class="btn btn-default btn-block" type="submit">
                                        {{ other|device_action }}
                                    </button>
                                {% endfor %}</p>
                        {% endif %}
                        {% if backup_tokens %}
                            <p>{% trans "As a last resort, you can use a backup token:" %}</p>
                            <p>
                                <button name="wizard_goto_step" type="submit" value="backup"
                                        class="btn btn-default btn-block">{% trans "Use Backup Token" %}</button>
                            </p>
                        {% endif %}

                        {% include "two_factor/_wizard_actions.html" %}
                    {% endif %}
                </form>
            </div></div>
    </div>
{% endblock %}