{% extends "base.html" %}

{% block h1_title %}Change password{% endblock %}
{% block title %}Change password{% endblock %}

{% block content %}
    <dl>
    <dt>Username:</dt>
        <dd>{{ principal.principal }}</dd>
    <dt>Password last changed:</dt>
        <dd>{{ principal.last_pwd_change }}</dd>
    <dt>Password expires:</dt>
        <dd>{{ principal.pwexpire|default_if_none:"Never" }}</dd>
    </dl>

<form method="post" class="pure-form pure-form-aligned">{% csrf_token %}
    <fieldset>
        <div class="pure-control-group">
            {{ form.old_password.label_tag }}
            {{ form.old_password }}
            {% if form.old_password.errors %}
            <div class="pure-form-message-inline">
            {{ form.old_password.errors }}
                </div>
            {% endif %}
            </div>

        <div class="pure-control-group">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
            <div class="pure-form-message-inline">
            {{ form.new_password1.errors }}
                </div>
            {% endif %}
            </div>

        <div class="pure-control-group">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
            <div class="pure-form-message-inline">
            {{ form.new_password2.errors }}
                </div>
            {% endif %}
            </div>
        </fieldset>
    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Change</button>
    </div>
</form>
{% endblock %}