{% extends "base.html" %}

{% block h1_title %}Change password{% endblock %}
{% block title %}Change password{% endblock %}

{% block extra_head %}{{ block.super }}
  {{ form.media }}
{% endblock %}

{% block content %}
    <dl>
    <dt>Username:</dt>
        <dd>{{ user.kerberos_principal.principal }}</dd>
    <dt>Password last changed:</dt>
        <dd>{{ user.kerberos_principal.last_pwd_change }}</dd>
    <dt>Password expires:</dt>
        <dd>{{ user.kerberos_principal.pwexpire|default_if_none:"Never" }}</dd>
    </dl>

<form method="post" class="pure-form pure-form-aligned">{% csrf_token %}
    <table style="width: 20em">
        <tbody>
        <tr class="pure-control-group">
            <td valign="top">{{ form.old_password.label_tag }}</td>
            <td>
                {{ form.old_password }}
            </td>
            <td>
                {{ form.old_password.errors }}
            </td>
        </tr>
        <tr class="pure-control-group">
            <td valign="top">{{ form.new_password1.label_tag }}</td>
            <td>
                {{ form.new_password1 }}
            </td>
            <td>
                {{ form.new_password1.errors }}
            </td>
        </tr>
        <tr class="pure-control-group">
            <td valign="top">{{ form.new_password2.label_tag }}</td>
            <td>
                {{ form.new_password2 }}
            </td>
            <td>
                {{ form.new_password2.errors }}
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Change</button>

            </td>
        </tr>
        </tfoot>
    </table>
</form>

{% endblock %}