{% extends "base.html" %}

{% block content %}
    <h1>Profile</h1>

    {{ user.first_name }} {{ user.last_name }}

    <section>
        <h2>External accounts</h2>

        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Username</th>
                <th>Disassociate</th>
            </tr>
            </thead>
            <tbody>{% for user_social_auth in associated %}
                <tr>
                    <td><i class="fa fa-2x fa-{{ user_social_auth.font_awesome }}" title="{{ user_social_auth.name }}"> </i></td>
                    <td>{{ user_social_auth.username }}</td>
                    <td>
                        <form method="post" action="{% url "social:disconnect_individual" backend=user_social_auth.provider association_id=user_social_auth.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{% url "profile" %}">
                            <input type="submit" value="x">
                        </form>
                </tr>{% endfor %}
            </tbody>
        </table>
        {{ backends }}

    {{ associated }}
    </section>
{% endblock %}
