<ul class="social-link-links">{% for social_backend in social_backends %}
    <li>
        <a href="{% url "social:begin" backend=social_backend.backend_id %}">
            <span class="fa-stack fa-lg social-account-icon social-account-icon-{{ social_backend.backend_id }}" title="{{ social_backend.name }}">
                <i class="fa fa-circle fa-stack-2x"> </i>
                <i class="{{ social_backend.font_icon }} fa-stack-1x fa-inverse"> </i>
            </span>
        </a>
    </li>{% endfor %}
</ul>